@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Alpine Ski House est la première station de ski du Nord-Est !</p>
</div>
